*.pyc
*.npy
*.pth
*.whl
*.swp

ckpt/
work_dirs*/
dist_test/
vis/
val/
lib/
.vscode/
*.egg

*.egg-info
build/
__pycache__/
*.so
*.out
.idea/

job_scripts/
temp_ops/
.dist_test
depth_cache
gathered_data
posed_images
global_occ_package
streme_occ_new_package
badcase
*.pkl
logs
.eggs
dist/
workdir/
colmap_made/
colmap_made
Depth_Anything_V2